.header {
    direction: ltr;
    width: 100%;
    height: 60px;
    background-image: url('../../assets/imgs/bitcoin.jpg');
    background-position: center;
    display: flex;
    align-items: center;
}

.headerContent {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.headerContent span {
    position: absolute;
    right: 28px;
    color: red;
    top: 12px;
    font-size: 18px;
}


.headerContent a {
    font-size: 20px;
    color: black;
    padding: 3px 8px;
    border-radius: 10px;
    background-color: white;
}


.headerContent .selected {
    color: #0d6efd;
}

.headerContent .heartICon {
    padding: 3px 8px;
    border-radius: 10px;
    background-color: white;
}